/* 
    =============
    GLOBAL STYLES
    =============
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1C1C1C;
    font-family: system-ui, -apple-system, sans-serif;
}

/*
    ==============
    CARD COMPONENT
    ============== 
*/

.card { 
    background: #1F2937;
    padding: 3rem;
    border-radius: 16px;
    width: 480px;
}

/*
    ==========
    TYPOGRAPHY
    ==========
*/

h1 {
    color: white;
    font-size: 2.25rem;
    line-height: 1.2;
    margin-bottom: 0.75rem;
}

p {
    color:  lightgray;
    margin-bottom: 2rem;
}

.diff-color {
    color: #10B981;
}

/*
    ======
    BUTTON
    ======
*/

#passwordGen {
    background-color: #10B981;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

#passwordGen:hover {
    background-color: #059669
}

/*
    ===============
    PASSWORD OUTPUT
    ===============
*/

.password-container {
    display: flex;
    gap: 1rem;
}

.box {
    flex: 1;
    background-color: #273549;
    color:#10B981;
    padding: 0.75rem;
    border-radius: 6px;
    text-align: center;
    font-family: monospace;
}